{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<form method="POST" action="/address">
    <div class="form-field">{{ form.street1.label }} {{ form.street1(size=30) }}</div>
    <div class="form-field">{{ form.street2.label }} {{ form.street2(size=30) }}</div>
    <div class="form-field">{{ form.apartment.label }} {{ form.apartment(size=30) }}</div>
    <div class="form-field">{{ form.state.label }} {{ form.state(size=30) }}</div>
    <div class="form-field">{{ form.sector.label }} {{ form.sector(size=30) }}</div>
    <div class="form-field">{{ form.notes.label }} {{ form.notes(size=30) }}</div>
    {{ form.submit }}
</form>

{% endblock %}