{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<form method="POST" action="/address">
    <div class="form-field">{{ fAddress.street1.label }} {{ fAddress.street1(size=30) }}</div>
    <div class="form-field">{{ fAddress.street2.label }} {{ fAddress.street2(size=30) }}</div>
    <div class="form-field">{{ fAddress.apartment.label }} {{ fAddress.apartment(size=30) }}</div>
    <div class="form-field">{{ fAddress.state.label }} {{ fAddress.state(size=30) }}</div>
    <div class="form-field">{{ fAddress.sector.label }} {{ fAddress.sector(size=30) }}</div>
    <div class="form-field">{{ fAddress.notes.label }} {{ fAddress.notes(size=30) }}</div>
    {{ fAddress.submit }}
</form>

{% endblock %}